@media (max-width: 1050px) {


    .middle-services > h1 {
        width: 60%;
        top: 90px;
        left: 25%;
    }

    .decor-big {
        margin-left: 25%;
    }

    /*                                                        СЛАЙДЕР*/
    .content-slider {
        margin-left: 50px;
    }


    .rslides {
        height: 400px;
    }

    .rslides img {
        max-height: 400px;
    }

    .prev {
        left: 55px;
    }
    .next {
        right: 80px;
    }
    .nav {
        left: 60%;
        top: 64vh;
    }

    /*                                                                  FORM */
    #form {
        padding-top: 60px;
    }

    #form h1 {
        font-size: 25px;
        margin-bottom: 60px;
    }

    #form-field input,
    #form-field button {
        margin-bottom: 60px;
    }
    #form-field button {
        margin-bottom: 50px;
    }


    /*                                                     FOOTER*/
    #footer {
        padding-left: 20px;
        padding-right: 20px;
        height: 50px;
    }

}
